<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
    <title>Purchase car</title>
        <meta http-equiv="Content-Type=" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
    </head>
    <body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
    <h1 class="text-center">You can here buy a new car!</h1>
    <h4 class="text-center">To buy a car You must have an account.</h4>
    <h4 class="text-center">If You don't have yet go to Customer portal - link is bottom of the site.</h4>

    <br>
    <div class="text-success" data-bs-theme="blue">
    <h3 class="text-center" th:text="${carBought}"></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">

                <form class="was-validated" action="#"  th:action="@{/car/purchase/{carVin}(carVin=${carVin})}" method="POST">
                    <div class="mb-3">
                        <label> If You decided put an email and click "BUY!".
                            <input type="text" th:name="email" class="form-control" placeholder="place for your email" required>
                        <div class="invalid-feedback">Please enter your email.</div>
                        <div class="valid-feedback">Thanks!</div>
                        <button class="btn btn-primary" type="submit">BUY!</button>
                        </label>
                    </div>
                </form><br>
                <a th:href="@{/invoice}" class="btn btn-primary">Check invoice!</a>
            </div>
            <div class="col">
                <img th:if="${carVin == '1G1PE5S97B7239380'}" th:src="@{/resources/img/cars/alfa-romeo.jpg}"
                     class="rounded mx-auto d-block" alt="alfa-romeo">
                <img th:if="${carVin == '1FT7X2B60FEA74019'}" th:src="@{/resources/img/cars/asia.jpg}"
                     class="img-thumbnail" alt="asia.">
                <img th:if="${carVin == '1GCEC19X27Z109567'}" th:src="@{/resources/img/cars/car-modern.jpg}"
                     class="img-fluid" alt="car-modern">
                <img th:if="${carVin == '1GB6G5CG1C1105936'}" th:src="@{/resources/img/cars/oldtimer.jpg}"
                     class="img-thumbnail" alt="oldtimer">
                <img th:if="${carVin == '1N6BD06T45C416702'}" th:src="@{/resources/img/cars/renault-juvaquatre.jpg}"
                     class="rounded mx-auto d-block" alt="renault-juvaquatre">
                <img th:if="${carVin == '2C3CDYAG2DH731952'}" th:src="@{/resources/img/cars/taxi-london.jpg}"
                     class="img-thumbnail" alt="taxi-london">
            </div>
        </div>
    </div>

    <br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-primary" th:href="@{/car}" role="button">Go back</a>
        <a class="btn btn-primary" th:href="@{/customer}" role="button">Customer portal</a>
        <a class="btn btn-primary" th:href="@{/}" role="button">Main page</a>
    </div>
    </body>
</html>