<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CUSTOMER PORTAL</title>
    <meta http-equiv="Content-Type=" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">

<h1 class="text-center">Here You can give Your car to service.</h1>
<h2 class="text-center">You can also check progress of Your repair.</h2>
<br><br>
    <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Repair car!</h5>
                <p class="card-text">Send Your car to our best mechanics. They'll take care.</p>
                <a th:href="@{service/request}" class="btn btn-primary">Service request</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Check progress!</h5>
                <p class="card-text">Check what's going on with Your service request.</p>
                <a th:href="@{service/progress}" class="btn btn-primary">Is finished?</a>
            </div>
        </div>
    </div>

<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" th:href="@{/customer}" role="button">Go back</a>
    <a class="btn btn-primary" th:href="@{/}" role="button">Main page</a>
</div>
</body>
</html>