<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Customer portal</title>
    <meta http-equiv="Content-Type=" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">

<h1 class="text-center">Customer Portal!</h1>
<h2 class="text-center">Make a wish :)</h2>
<br><br>
    <div class="d-flex justify-content-evenly">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="@{/images/customer/salesmen.jpg}" width="auto" height="auto"/>
                <div class="card-body">
                <h5 class="card-title">SALESMEN</h5>
                <p class="card-text">See our Salesmen. Their grace is unbelievable.</p>
                <a th:href="@{/salesmen}" class="btn btn-primary">Become to convinced!</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="@{/images/customer/cars.jpg}" width="auto" height="auto"/>
                <div class="card-body">
                <h5 class="card-title">CARS</h5>
                <p class="card-text">Wanna buy a car? Here is all you want.</p>
                <a th:href="@{/car}" class="btn btn-primary">Check our garage!</a>
                </div>
            </div>
    </div>
        <div class="d-grid gap-2 col-2 mx-auto">
        <a th:href="@{/customer/create_customer}" class="btn btn-outline-info">Create an account!</a>
        </div>
    <div class="d-flex justify-content-evenly">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="@{/images/customer/invoices.jpg}" width="auto" height="auto"/>
                <div class="card-body">
                <h5 class="card-title">INVOICES</h5>
                <p class="card-text">Bought already something in our shop? Check your documents.</p>
                <a th:href="@{/invoice}" class="btn btn-primary">Look and cry!:)</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="@{/images/customer/service.jpg}" width="auto" height="auto"/>
                <div class="card-body">
                <h5 class="card-title">SERVICE</h5>
                <p class="card-text">Do You announce your car to repair or came to check your service history? This is right place.</p>
                <a th:href="@{/service}" class="btn btn-primary">Toolbox-noise!</a>
                </div>
            </div>
    </div>

<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" th:href="@{/}" role="button">Main page</a>
</div>


</body>
</html>